@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Aktivitet>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
    var cultureinfo =
        new System.Globalization.CultureInfo("da-DA");
}

<h1 class="page-container h1banner">@Umbraco.Field("bannerHead", recursive: true)</h1>
<div id="overlayImg">
    <div class="header">
        @{
            var typedMediaPickerSingle = Model.Content.GetPropertyValue<IPublishedContent>
            ("nImg");
            if (typedMediaPickerSingle != null)
            {
                @typedMediaPickerSingle.Url
                <img src="@typedMediaPickerSingle.Url" alt="@typedMediaPickerSingle.GetPropertyValue(" alt")" />
            }
        }
    </div>
</div>

<div class="page-container">
    <div class="siteInfo">
        @Html.Partial("Utilities/Breadcrumb")
    </div>
</div>

<section>
    <div class="single-act-container">
        <div class="sidebar wrapper">
            <div class="single-overlay">
                <img src="@Model.Content.EventTopImg.Url" alt="">
                <div class="single-text-overlay">
                    <div class="single-date-info">
                        <h2>@Model.Content.EventDateAndTime.ToString("dddd", cultureinfo)</h2>
                        <p>@Model.Content.EventDateAndTime.ToString("dd. MMM", cultureinfo)</p>
                    </div>
                </div>
            </div>
            <div class="sidebar-info">
                <div class="sidebar-wrapper">
                    <div class="contact-person">
                        <img src="@Model.Content.EventContactImg.Url" alt="">
                        <h3>Kontaktperson</h3>
                        <p>@Model.Content.EventContactName</p>
                        <span>@Model.Content.EventContactPosition</span>
                    </div>
                    <div class="info-contact">
                        <h4>@Model.Content.EventInfoHeadline</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                        <a href="mailto:@Model.Content.EventEmail?Subject=Kontakt%20LVS%20Site"><span>Email &#8226</span> @Model.Content.EventEmail</a>
                        <a href="tel:@Model.Content.EventPhone"><span>Telefon &#8226</span> @Model.Content.EventPhone</a>
                    </div>
                    <div class="info-location">
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2275.871539110731!2d11.762162116047145!3d55.22049214038674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652be90f64147d9%3A0x41b2583a5fc08114!2sRolighedsvej%2C+4700+N%C3%A6stved!5e0!3m2!1sda!2sdk!4v1526400689030" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <ul>
                            <li><i class="fas fa-map-marker-alt"></i><span>Lokation &#8226</span> @Model.Content.EventLocation</li>
                            <li><i class="far fa-calendar-alt"></i><span>Dato &#8226</span> @Model.Content.EventDateAndTime.ToString("dddd, MMM yyyy", cultureinfo)</li>
                            <li><i class="far fa-clock"></i><span>Tidspunkt &#8226</span> @Model.Content.EventDateAndTime.ToString("HH:mm")</li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="perticipate-btn">Deltag<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="info-wrapper wrapper">
            <div class="info-text">
                <h1>@Model.Content.PageTitle</h1>
                <span>@Model.Content.ContentSubText</span>
                <p>@Model.Content.ContentText</p>
            </div>
            <div class="prev-img">
                <img src="@Model.Content.EventPreviousActivitiesImg1.Url" alt="">
                <img src="@Model.Content.EventPreviousActivitiesImg2.Url" alt="">
            </div>
        </div>
    </div>
</section>